@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@Model.Message</h3>*@
<img  width="200" src="~/images/me.jpg" />
<p>My name is Morten and im about to learn basics of website coding</p>
